.bg-white2 {
    background-color: rgb(3 88 162);
    }
    body {
      background-color: #f3f3f3;
      padding-top: 75px;
    }
    .bookshelf .thumb{
        display: inline-block;
        cursor: pointer;
        margin: 0px 0.5%;
        width: 15% !important;
        box-shadow:0px 1px 3px rgba(0,0,0,.3);
        max-width:120px;
    }
    .bookshelf .thumb img{
        width:100%;
        display:block;
        vertical-align:top;
    }
    .bookshelf .shelf-img{
        z-index:0;
        height: auto;
        max-width: 100%;
        vertical-align: top;
        margin-top:-12px;
    }
    .bookshelf .covers{
        width:100%;
        height:auto;
        z-index: 99;
        position: relative;
        text-align:center;
    }
    .bookshelf{
        text-align: center;
        padding:0px;
    }
    /* Pagination */
    .pagination>li>a,
    .pagination>li>span {
      color: #c0392b;
    }
    .pagination>li>a:hover,
    .pagination>li>span:hover {
      color: #c0392b !important;
    }
    .pagination>li.active>a {
      background-color: #c0392b !important;
      border: 0;
      color: #fff;
    }
    .capa{
      margin-bottom: 30px;
    }
    .capa img{
      width: 100%;
      border: 1px solid #ddd;
      border-top: none;
    }





    


    .bg-white2 {
        background-color: rgb(3 88 162);
        }
        body {
          background-color: #f6f6f6;
        }
        #author {
          font-size: 15px;
          font-weight: bold;
          color: #0186c9;
        }
        #date {
          margin-left: 10px;
          font-size: 15px;
          color: #819196;
        }
        #size {
          font-size: 15px;
          color: #819196;
        }
        #description {
          margin-top: 20px;
          font-weight: lighter;
        }





        #filtros{
          /* width: 100%;
          background: #ffffff;
          padding: 10px;
          position: fixed;
          top: 56px;
          z-index: 9; */
          border-bottom: 1px solid #ddd;
        }

        .total{
          position: fixed;
          right: 6px;
          bottom: 24px;
          background-color: #003563d9;
          color: #ffffff;
          padding: 4px 12px;
          border-radius: 4px;
          font-size: 0.8em;
          font-weight: bold;
        }
        #loadmore{
          background-color: #0358a2;
          padding: 10px 20px;
          margin: 40px auto;
          color: #fff;
          border-radius: 10px;
          margin-bottom: 20px;
          display: table;
          transition: .2s;
        }
        #loadmore:hover{
          background-color: #257ecc;
          color: #ffffff;
          text-decoration: none;
        }

        .page_top{
          display: inline;
          font-size: 2em;
          position: fixed;
          right: 40px;
          bottom: 50px;
          cursor: pointer;
        }
        .page_top i{
          color: #37a1ff;
        }
        .info-caderno{
          background-color: #e1e1e1;
          padding: 4px 8px;
          font-size: 0.8em;
          border: 1px solid #ddd;
        }

        #info{
          padding: 0px 0px 30px 0px;
        }

        #info_count{
          padding-top: 12px;
        }
        #info_count .w-100{
          width: 70%!important;
        }

        .principal{
          width: 75%!important;
        }

        .secundarios{
          text-align: center;
        }

        .secund a{
          font-size: 12px;
        }

        .info-caderno2{
          background-color: #e1e1e1;
          padding: 0px 0px 6px 6px;
          font-size: 0.8em;
          border: 1px
          solid #ddd;
        }


        #home{
          text-decoration:none;
        }
        #home span{
          color: #000000;
          font-size: 34px;
        }
        #date{
          margin-left: 0px;
        }




        #extract{
          padding-top: 16px !important;
          background-color: #ffffff !important;
        }
        /*--------------------LOADING CSS --------------------------*/
        .lds-roller {
          display: inline-block;
          position: relative;
          width: 80px;
          height: 80px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .lds-roller div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 40px 40px;
        }
        .lds-roller div:after {
          content: " ";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: rgb(158, 158, 158);
          margin: -4px 0 0 -4px;
        }
        .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
        }
        .lds-roller div:nth-child(1):after {
          top: 63px;
          left: 63px;
        }
        .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
        }
        .lds-roller div:nth-child(2):after {
          top: 68px;
          left: 56px;
        }
        .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
        }
        .lds-roller div:nth-child(3):after {
          top: 71px;
          left: 48px;
        }
        .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
        }
        .lds-roller div:nth-child(4):after {
          top: 72px;
          left: 40px;
        }
        .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
        }
        .lds-roller div:nth-child(5):after {
          top: 71px;
          left: 32px;
        }
        .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
        }
        .lds-roller div:nth-child(6):after {
          top: 68px;
          left: 24px;
        }
        .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
        }
        .lds-roller div:nth-child(7):after {
          top: 63px;
          left: 17px;
        }
        .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
        }
        .lds-roller div:nth-child(8):after {
          top: 56px;
          left: 12px;
        }
        @keyframes lds-roller {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
        /*--------------------FIM / LOADING CSS --------------------------*/